.panel-body {
  color: #333;
}
.input-group .form-control {
  border-radius: 5px !important;
}

.floating-label-form-group-with-focus label {
  color: #24b5a1;
}

a{
  color: #24b5a1;
  outline: 0;
  font-weight: bold;
}

a:focus, a:hover {
  color: #3d398c;
  outline: 0;
}

.panel-success>.panel-heading {
  color: #fff;
  background-color: #24b5a1;
  border-color: #24b5a1;
}

section.success {
  background: #24b5a1;
}

footer .footer-below {
  background-color: #24b5a1;
}

header {
  background: #24b5a1;
  height: 700px;
}

#contactForm label {
  background: white;
}
#search div .panel-body {
    /* background: #3e3a8c; */
}

.form-control{
  height: 46px;
  font-size: 18px;
}

.navbar-inverse{
  -webkit-box-shadow: -2px 8px 7px -7px rgba(120,120,120,1);
  -moz-box-shadow: -2px 8px 7px -7px rgba(120,120,120,1);
  box-shadow: -2px 8px 7px -7px rgba(120,120,120,1);

}

body{
  background-color: #FEFEFE;
}


#limpiar{
  width: 82px;
  margin-left: 2px;
}

#botones{
  margin-left: 35%;
}

.alert-danger{
  background-color: #FFCBBF     ;
  color: #5C5C5C  ;
  display: none;
}
#pagina1{
  display: none;
}

#footer{
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 140px;
  color: white;
  text-align: center;
}
#map {
  position: relative;
  width: 100%;
  height: 400px;
}
#map1 {
  position: relative;
  width: 100%;
  height: 400px;
}
